<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/base.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/skeleton.css">
        <!-- endbuild -->

        <script src='https://cdn.firebase.com/v0/firebase.js'></script>

</head>
  <body ng-app="ngWebglDemo">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- application content -->
    <div class="container" ng-controller="AppCtrl">
      
      <!-- HEADER -->
      <div class="sixteen columns add-bottom">
        <div class="navbar">
          <h1>AngularJS WebGL Directive</h1>
        </div>
        <hr />
      </div>
      <!-- END HEADER -->

      <div class="twelve columns add-bottom">
        
        <ng-webgl
          id="webglContainer"
          width="canvasWidth"
          height="canvasHeight"
          fillcontainer="dofillcontainer"
        >
          <gl-sphere
            radius="sphereService.radius"
            res="[sphereService.resx, sphereService.resy]"
            pos="[sphereService.posx, sphereService.posy, sphereService.posz]"
            rot="[sphereService.rotx, sphereService.roty, sphereService.rotz]"
          />
          <gl-box/>
          <gl-torus/>
        </ng-webgl>

      </div>

      <div>
        <label for="scale">Scale</label>
        <input type="range" name="scale" min="10" max="200" step="10"
          ng-model="sphereService.radius" class="add-bottom" />

        <label for="resx">Resolution</label>
        <input type="range" name="resx" min="10" max="200" step="10"
          ng-model="sphereService.resx" class="add-bottom" />
        <input type="range" name="resy" min="10" max="200" step="10"
          ng-model="sphereService.resy" class="add-bottom" />

        <label for="posx">Position</label>
        <input type="range" name="posx" min="10" max="200" step="10"
          ng-model="sphereService.posx" class="add-bottom" />
        <input type="range" name="posy" min="10" max="200" step="10"
          ng-model="sphereService.posy" class="add-bottom" />
        <input type="range" name="posz" min="10" max="200" step="10"
          ng-model="sphereService.posz" class="add-bottom" />

          <label for="rotx">Rotation</label>
        <input type="range" name="rotx" min="10" max="200" step="10"
          ng-model="sphereService.rotx" class="add-bottom" />
        <input type="range" name="roty" min="10" max="200" step="10"
          ng-model="sphereService.roty" class="add-bottom" />
        <input type="range" name="rotz" min="10" max="200" step="10"
          ng-model="sphereService.rotz" class="add-bottom" />
      </div>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js"></script>
    <!--<script src="libs/three.js"></script>-->

    <!-- scripts/scripts.js -->
      <script src="app.js"></script>
      <script src="components/ngWebgl.js"></script>
      <script src="components/scene_objects/sphere/glSphereModelService.js"></script>
      <script src="components/scene_objects/sphere/glSphere.js"></script>
      <script src="components/scene_objects/box/glBoxShaderRequestService.js"></script>
      <script src="components/scene_objects/box/glBox.js"></script>
      <script src="components/scene_objects/torus/glTorus.js"></script>
      <script src="components/glSceneService.js"></script>
    <!-- endbuild -->

    <!-- first pass shaders -->

      <script id="vertexShaderBackFace" type="x-shader/x-vertex">
          varying vec3 worldSpaceCoords;

          vec3 toLocal(vec3 p) {
            return p + vec3(0.5);
        }

          void main(){
              //Set the world space coordinates of the back faces vertices as output.
              worldSpaceCoords = toLocal(position); //move it from [-0.5;0.5] to [0,1]
              gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
          }
      </script>

      <script id="fragmentShaderBackFace" type="x-shader/x-fragment">
          varying vec3 worldSpaceCoords;
          void main(){
              //The fragment's world space coordinates as fragment output.
              gl_FragColor = vec4( worldSpaceCoords.x , worldSpaceCoords.y, worldSpaceCoords.z, 1 );
          }
      </script>

</body>
</html>
