
.container-fluid {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* portrait */
@media screen and (orientation: portrait) {
    /* portrait-specific styles */
    #portrait {
        display: block;
        text-align: center;
        padding-top: 50%;
        height: 100%;
    }

    #landscape {
        display: none;
    }
}

/* landscape */
@media screen and (orientation: landscape) {
    /* landscape-specific styles */
    #portrait {
        display: none;
    }

    #landscape {
        display: block;
    }

    #controls {
        position: absolute;
    }

    #controls span {
        display: inline-block;
        width: 60px;
        height: 80px;
        margin: 10px;

    }
}
